
    <div class="container mt-2">
      <div class="row mt-8">        <!-- Blog Entries Column -->
        <div class="col-md-12">

        <% @articles.each do |article|%>
          <em>
            <%= content_tag :h4, article.title %>
            <p class="lead">
              <%=article.user.firstName%> <%=article.user.lastName%>
            </p>
           </em>
            <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:45 PM</p>
            <p><%=article.overview%></p>
            <%=link_to "Read More", article_path(article.id), :class => "btn btn-default" %>
            <hr>
        <%end%>

          <!-- Pager -->
          <ul class="pager">
            <li class="previous">
              <a href="#">Prev</a>
            </li>
            <li class="next">
              <a href="#">Next</a>
            </li>
          </ul>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->    <!-- Footer -->    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
