
<div class="main-area mt-4" >
     <div class="text-area">
        <%# <div class ="article-image">
        </div> %>

          <%# body %>
        <div class ="body pt-3 pb-4 article-info">
        <div class="title-flex ">
          <h1 class="entry-title fs-3xl m:fs-4xl l:fs-5xl fw-bold s:fw-heavy lh-tight mb-2 medium">
            <%= @article.title %>
          </h1>
          <%= button_to "Destroy this article", @article, method: :delete, class: "btn btn-outline-danger", data: { confirm: 'Are you sure?' }, disabled: !policy(@article).destroy? %>

        </div>

          <div class="author-info">
          <div class="profile-pic">
              <% if current_user.photo.present? %>
                  <%= cl_image_tag current_user.photo.key , class: 'avatar', 'data-action': 'click->dropdown#toggle' %>
              <% else %>
                  <%= image_tag "https://t4.ftcdn.net/jpg/05/49/98/39/360_F_549983970_bRCkYfk0P6PP5fKbMhZMIb07mCJ6esXL.jpg", class: 'avatar', 'data-action': 'click->dropdown#toggle' %>
              <% end %>
          </div>
          <div class="author-writter">
            <div class="author-name">
              <%=@article.user.firstName%> <%=@article.user.lastName%>
            </div>
          </div>
        </div>
          <div  class="px-4 pt-1 crayons-article__body text-styles spec__body " >
            <%= render_article_content(@article.body) %>
          </div>

          <%# comment %>
          <div class="mb-3">
              <form action="/comments" method="POST">
                  <label for="exampleFormControlTextarea1" class="form-label">Enter Your Comment</label>
                  <textarea class="form-control" name="comment[content]" id="exampleFormControlTextarea1" rows="3"></textarea>
                  <input type="hidden" name="comment[article_id]" class="custom-btn btn-1 mt-2" value="<%= @article.id %>"/>
                  <input type="submit" class="custom-btn btn-1 mt-2" value="Add comment "/>
              </form>
        </div>

          <%# comment %>
        <div class="comment">
          <h4>Comments</h4>
          <%# simple input field to add a comment without article build%>
          <div class="container">
            <div class="row">
              <% @article.comments.each do |comment|  %>
                <div class="col-md-8">
                    <div class="media g-mb-30 media-comment">
                      <div class="d-flex">
                         <img class="avatar" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Image Description">
                        <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                          <div class="g-mb-15">
                            <h5 class="h5 g-color-gray-dark-v1 mb-0"><%= comment.user.firstName %> <%= comment.user.lastName   %></h5>
                            <span class="g-color-gray-dark-v4 g-font-size-12">5 days ago</span>
                          </div>
                        </div>
                      </div>                          <%# comment  %>
                          <p><%= comment.content  %></p>
                          <ul class="list-inline d-sm-flex my-0">
                            <li class="list-inline-item g-mr-20">
                              <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                                <i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3"></i>
                                178
                              </a>
                            </li>
                            <li class="list-inline-item g-mr-20">
                              <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                                <i class="fa fa-thumbs-down g-pos-rel g-top-1 g-mr-3"></i>
                                34
                              </a>
                            </li>
                            <li class="list-inline-item ml-auto">
                              <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                                <i class="fa fa-reply g-pos-rel g-top-1 g-mr-3"></i>
                                Reply
                              </a>
                            </li>
                          </ul>
                        </div>
                    </div>
                </div>
              <% end  %>
            </div>
            </div>


        </div>
      </div>
</div>
</div>
