<div class="container">
  <div class="article-info">
    <div class="user-avatar">
      <% if @user.photo.present? %>
        <%= image_tag @user.photo %>
      <% else %>
        <%= image_tag "https://t4.ftcdn.net/jpg/05/49/98/39/360_F_549983970_bRCkYfk0P6PP5fKbMhZMIb07mCJ6esXL.jpg" %>
      <% end %>
    </div>
    <div class="user-name">
     <%= @user.firstName %> <%= @user.lastName %>
    </div>
    <div class="user-bio">
      <% if @user.bio.present? %>
        <%= @user.bio %>
      <% else %>
        No bio added.
      <% end %>
    </div>
    <%#  icons of facebook github and linkedin %>
    <div class="icons">
        <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
        <a href="https://www,github.com/"><i class="fab fa-github-square"></i></a>
        <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>

  <div class="user-container">
    <div class="user-article-info">
      <h5>Written articles</h5>
      <hr>
      <% if @user.articles.empty? %>
        <div class="no-articles">
          No articles written.
        </div>
      <% else %>
        <% @user.articles.each do |article|%>
          <div class="article">
              <%= article.title %> - <%= article.created_at.strftime("%d/%m/%Y") %>
            <hr>
          </div>
        <%end%>
      <%end%>
    </div>

    <% if @user == current_user %>
      <div class="user-article-info">
        <h5>Saved articles</h5>
        <hr>
      </div>
    <% else %>
      <div class="article-info" style="display: none;">
      </div>
    <% end %>

  </div>
</div>
