<nav >
  <div class="my-navbar">
    <div class="my-navbar-left">
      <%= link_to root_path do%>
      <div class="logo">
        <img src="https://img.freepik.com/free-vector/quill-pen-logo-design_23-2149919606.jpg" alt="" class="nav-img">
        <h2>Elevate</h2>
      </div>
      <%end%>
    </div>

    <div class="my-navbar-middle">
      <%= form_tag articles_path, method: :get, class: "form-mine d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type the article"
        %>
      <%= submit_tag "Search", name: "", class: "yellow-button" %>
      <% end %>
    </div>

    <div class="my-navbar-right">
      <% if user_signed_in? %>
        <%= link_to "New Article", new_article_path, class: "green-button" %>
          <% if current_user.photo.present? %>
            <% image = current_user.photo %>
          <% else %>
            <% image = "https://t4.ftcdn.net/jpg/05/49/98/39/360_F_549983970_bRCkYfk0P6PP5fKbMhZMIb07mCJ6esXL.jpg"%>
          <% end %>
          <div class="dropdown" data-controller="dropdown">
            <input type="image" src= <%=image%> class="avatar" data-action="click->dropdown#toggle" />
            <div class="menu d-none" data-dropdown-target="menu">
              <h3><%= current_user.firstName%> <%= current_user.lastName%><br /><span>Website Designer</span></h3>
              <ul>

                  <li>
                    <%= link_to "My profile", current_user %>
                  </li>
                <li>
                  <%= link_to "Edit profile", edit_user_registration_path %>
                </li>
                <li>
                  <%= link_to "My articles", articles_path(author: current_user) %>
                </li>
                <li>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                </li>
              </ul>
            </div>
          </div>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "green-button" %>
          <%= link_to "Signup", new_user_registration_path, class: "green-button" %>
      <% end %>
    </div>
    </div>
</nav>
