<nav class= "my-navbar">
  <div class="my-navbar-left">
    <%= link_to root_path do%>
      <h3>Blog</h3>
    <%end%>
  </div>

  <div class="my-navbar-middle">
    <%= form_tag articles_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type the article"
      %>
    <%= submit_tag "Search", name: "", class: "yellow-button" %>
    <% end %>
  </div>

  <div class="my-navbar-right">
    <% if user_signed_in? %>
      <%# small avatar of current session %>
      <%# image_tag current_user.avatar, class: "avatar" %>
      <%= link_to "New Article", new_article_path, class: "green-button" %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "green-button" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "green-button" %>
      <%= link_to "Signup", new_user_registration_path, class: "green-button" %>
    <% end %>
  </div>
</nav>
